.App {
  text-align: center;
  overflow: hidden;
}

.row1 {
  position: relative;
  height: 95vh;
}

.background {
  position: absolute;
  z-index: 0;
  pointer-events: auto;
}

.foreground {
  position: relative;
  z-index: 1;
  display: flex;
}

/* Database Test */
.testRead {
  text-align: center;
  position: flex;
  /* float: right; */
}

/* AppBanner.js */
.app-banner {
  height: 5vh;
}

.navbar {
  min-height: 5vh;
}

.banner-logo {
  max-Width: '2px'
}

.banner-button {
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
}

/* LeftSideBar.js */
#left-wrapper {
  overflow-x: hidden;
  position: fixed;
  left: 0;
}

#left-sidebar-wrapper {
  min-height: 95vh;
  margin-left: -20rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#left-sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#left-sidebar-wrapper .list-group {
  width: 20rem;
}

#left-wrapper.toggled #left-sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #left-sidebar-wrapper {
    margin-left: 0;
  }

  #left-wrapper.toggled #left-sidebar-wrapper {
    margin-left: -20rem;
  }
}
#left-menu-toggle {
  height: 5vh;
  width: 2vh;
  color: black;
  /* border-radius: 0px; */
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* RightSideBar.js */
#right-wrapper {
  overflow-x: hidden;
  position: fixed;
  right: 0;
}

#right-sidebar-wrapper {
  min-height: 95vh;
  margin-right: -24rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#right-sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#right-sidebar-wrapper .list-group {
  width: 24rem;
}

#right-wrapper.toggled #right-sidebar-wrapper {
  margin-right: 24rem;
}

@media (min-width: 768px) {
  #right-sidebar-wrapper {
    margin-right: 0;
  }

  #right-wrapper.toggled #right-sidebar-wrapper {
    margin-right: -24rem;
  }
}
#right-menu-toggle {
  height: 5vh;
  width: 2vh;
  color: black;
  /* border-radius: 0px; */
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.custom-scrollbar {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: darkgray transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: darkgray;
  border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}


/* MapBackground.js */
.map-container {
  position: relative;
  height: 95vh;
  width: 100vw;
}

.long-lat-bar {
  position: relative;
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 2;       /* change this to 0 if we make the import button a modal or whatever*/
  left: 0;
  margin: 12px;
  border-radius: 4px;
}