.App {
  text-align: center;
  overflow: hidden;
}

.row1 {
  position: relative;
  height: 95vh;
}

.background {
  position: absolute;
  z-index: 0;
  pointer-events: auto;
}

.foreground {
  position: relative;
  z-index: 1;
  display: flex;
}

/* Database Test */
.testRead {
  text-align: center;
  position: flex;
  /* float: right; */
}

/* AppBanner.js */
.app-banner {
  height: 5vh;
}

.navbar {
  min-height: 5vh;
}

.banner-logo {
  max-Width: '2px'
}

.banner-button {
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
}


/* MapBackground.js */
.map-container {
  position: relative;
  height: 95vh;
  width: 100vw;
}

.long-lat-bar {
  position: relative;
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 2;       /* change this to 0 if we make the import button a modal or whatever*/
  left: 0;
  margin: 12px;
  border-radius: 4px;
}