@use "../../styles/theme" as theme;

#edit-left-wrapper {
  overflow-x: hidden;
  position: fixed;
  left: 0;
}

#edit-left-sidebar-wrapper {
  min-height: 95vh;
  margin-left: -24rem;
  transition: margin .25s ease-out;

  .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }

  .list-group {
    width: 24rem;
  }
}

#edit-left-wrapper.toggled #left-sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #edit-left-sidebar-wrapper {
    margin-left: 0;
  }

  #edit-left-wrapper.toggled #edit-left-sidebar-wrapper {
    margin-left: -24rem;
  }
}

#edit-left-menu-toggle {
  height: 5vh;
  width: 2vh;
  color: black;
  // border-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.edit-tools-list {
  margin-top: 5px;


}

// .table-responsive {
//   max-height:300px;
// }
.table-responsive { 
  max-height: 400px; 
}
.table-responsive thead th { position: sticky; top: 0; z-index: 1; }
.table-responsive tbody th { position: sticky; left: 0; }


.editing-tools {
  margin-top: 4px;
}
.accordion {
    width: 90%;
    transform: translate(5%,5%)
}
.accordion-button {
    background-color: white !important;
    &:focus {
        box-shadow: none;
        border-color: rgba(0,0,0,.125);
    }
    &:not(.collapsed) {
        box-shadow: none;
        color: none
    }
 }

 .edit-left-bar {
    background-color: theme.$dark;
    min-width: 57.6px;
    min-height: 880.65px;
}
.edit-button {
    max-width: 48px;
    height: 46.35px;
    transform: translate(35%, 0%)
}
#edit-close-button {
  transform: translate(35%, 83vh)
}
#edit-left-tool {
    transform: translate(0, 10%)
}