@use "../../styles/theme" as theme;

#line-map-sidebar {
  overflow-x: hidden;
  position: fixed;
  left: 0;
}

#line-map-menu {
  min-height: 95vh;
  min-width: 60vh;

  .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }

  .list-group {
    width: 24rem;
  }

  .line-map-accordian {
    width: 100%;
    margin-top: 4px;
    margin-left: 8px;
    min-width: 61vh;
  }

  &.invisible {
    margin-left: -60vh; // Make sure its the - min-width of prop-map-menu
  }
}

.edit-tools-list {
  margin-top: 5px;
}

.editing-dropdown {
  // min-height: 68vh;
  position: relative;
}

.table {
  margin-bottom: 0rem;
}

.table-responsive {
  max-height: 450px;

  thead th {
    position: static;
  }

  tbody th {
    position: sticky;
  }
}

.add-row-button {
  background-color: white;
  outline: none;
  margin-top: -12px;

  .add-row-icon {
    margin-top: -4px;
  }
}

.JSONButton {
  justify-content: center;
  margin-top: 10px;
  margin-bottom: -6px;
  display: inline-block;

}

.PNGButton {
  display: inline-block;
  margin-left: 8px;
}

.JPGButton {
  display: inline-block;
  margin-left: 8px;
}

.editing-tools {
  margin-top: 4px;
}

.accordion {
  width: 96%;
  margin-top: 4px;
  margin-left: 8px;
}

.accordion-button {
  background-color: white !important;

  &:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, .125);
  }

  &:not(.collapsed) {
    box-shadow: none;
    color: none;
  }
}

.cells {
  width: 100%;
}

.edit-left-bar {
  background-color: theme.$dark;
  min-width: 57.6px;
  min-height: 880.65px;

  .edit-button {
    max-width: 48px;
    height: 46.35px;
    transform: translate(35%, -60%);
    font-size: 20px;
  }

  #edit-close-button {
    // transform: translate(35%, 76vh);
  }

  #edit-left-tool {
    transform: translate(0, 10%);
  }
}

.table-custom-scrollbar {
  // overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: darkgray transparent;
  overflow: auto;
  // max-height: 400px;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkgray;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

.drop-zone {
  .drop-zone-text {
    margin-bottom: 24px;
  }
}

.input-group {
  margin-bottom: -10px;

  .input-group-text {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .default-zoom {
    padding-right: 17px;
  }
}

.set-default-button {
  justify-content: center;
  margin-top: 18px;
  margin-bottom: -6px;
}

.remove-geojson-button {
  margin-top: 18px;
}

.accordion-body {
  padding-top: 0px
}

.legend-title {
  margin-bottom: 18px;
}