@use "../../styles/theme" as theme;

.background-container {
  background-image: url('../Images/san_rafael-20000-sdb-028198-preview-2.png'); // Update the path accordingly
  background-size: cover;
  background-position: center;
}

.sign-up-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .sign-up-item {
    width: 576px;
    background-color: theme.$superlightgray;
  }

  .name {
    width: 274px;
    background-color: theme.$superlightgray;
  }

  .last-name {
    width: 274px;
    background-color: theme.$superlightgray;
    margin-left: 2px;
  }

  .sign-up-button {
    height: 54px;
    width: 576px;
    background-color: theme.$slightlighterthanblack !important;
    border-color: theme.$slightlighterthanblack;
    margin-left: 10px;
    margin-right: 10px;
  }

  .sign-up-button:hover {
    background-color: gray !important;
    border-color: gray;
  }

  .heading {
    font-weight: bolder;
  }
}

.sign-up-error-message {
  margin-bottom: -24px;
}

.login-ref {
  margin-top: 10px;
  margin-bottom: -4px;
}