@use "../../styles/theme" as theme;

.password-reset-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  
}


.password-reset-button {
  height: 54px;
  width: 576px;
  background-color: theme.$slightlighterthanblack !important;
  border-color: theme.$slightlighterthanblack;
  margin-top: 40px;
  &:hover {
    height: 54px;
    width: 576px;
    background-color: gray !important;
    border-color: gray;
  }
}
