@use "../../styles/theme" as theme;

.password-reset-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 75vh;
  margin-top: -45px;

  .password-reset-item {
    width: 30vw;
    background-color: theme.$superlightgray;
  }

  .password-reset-button {
    width: 30vw;
    background-color: theme.$slightlighterthanblack !important;
    border-color: theme.$slightlighterthanblack;
    height: 5vh;
    transform: translate(1%, 0);
    margin-top: -35px;
  }

  .password-reset-button:hover {
    width: 30vw;
    background-color: gray !important;
    border-color: gray;
    height: 5vh;
  }

  h1 {
    font-weight: bolder;
  }

  p {
    font-size: 18px;
  }
}