@use "../../styles/theme" as theme;

.password-reset-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .password-reset-item {
    width: 576px;
    background-color: theme.$superlightgray;
    margin-left: 0px;
  }

  .password-reset-button {
    height: 54px;
    width: 576px;
    background-color: theme.$slightlighterthanblack !important;
    border-color: theme.$slightlighterthanblack;
    margin-top: -35px;
  }

  .password-reset-button:hover {
    height: 54px;
    width: 576px;
    background-color: gray !important;
    border-color: gray;
  }
}