@use "../../styles/theme" as theme;

#point-map-edit-left-wrapper {
  overflow-x: hidden;
  position: fixed;
  left: 0;
  width: 57.6px;
}

#point-map-edit-left-sidebar-wrapper {
  min-height: 95vh;
  min-width: 60vh;

  .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }

  .list-group {
    width: 24rem;
  }

  .point-map-accordian {
    width: 100%;
    margin-top: 4px;
    margin-left: 8px;
    min-width: 61vh;
  }

  &.invisible {
    margin-left: -60vh; // Make sure its the negative min-width of point-map-edit-left-sidebar-wrapper
  }
}

.point-map-edit-tools-list {
  margin-top: 5px;
}

.point-map-edit-header-Latitude {
  width: 30%;
}

.point-map-edit-header-Longitude {
  width: 30%;
}

.point-map-edit-left-bar {
  background-color: theme.$dark;
  min-width: 57.6px;
  min-height: 880.65px;

  .point-map-edit-button {
    max-width: 48px;
    height: 46.35px;
    transform: translate(35%, 0%);
  }

  #point-map-edit-close-button {
    transform: translate(35%, 76vh);
  }

  #point-map-edit-left-tool {
    transform: translate(0, 10%);
  }
}