@use "../../styles/theme" as theme;

#heat-map-sidebar {
  overflow-x: hidden;
  position: fixed;
  left: 0;
}

#heat-map-menu {
  min-height: 95vh;
  min-width: 60vh;

  .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }

  .list-group {
    width: 24rem;
  }

  .heat-map-accordian {
    width: 100%;
    margin-top: 4px;
    margin-left: 8px;
    min-width: 61vh;
  }

  &.invisible {
    margin-left: -60vh; // Make sure its the negative min-width of heat-map-menu
  }
}

.heat-popover {
  position: absolute;
  z-index: 2;
  right: 12.5vw;
}

.heat-button {
  margin: 10px;
  width: 50px;
  height: 40px;
  border-radius: 8px;
  border: 3px solid #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.heat-range-button {

  width: 100px;
  height: 40px;
  cursor: pointer;
}
.heat-range-selector {
  background-color: #fff;
}

.heat-input {
  margin: 3px;
}