@use "../../styles/theme" as theme;

#heat-map-sidebar {
  overflow-x: hidden;
  position: fixed;
  left: 0;
}

#heat-map-menu {
  min-height: 95vh;
  min-width: 60vh;

  .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }

  .list-group {
    width: 24rem;
  }

  .heat-map-accordian {
    width: 100%;
    margin-top: 4px;
    margin-left: 8px;
    min-width: 61vh;
  }

  &.invisible {
    margin-left: -60vh; // Make sure its the negative min-width of heat-map-menu
  }
}

.heat-popover {
  position: absolute;
  z-index: 2;
  right: 9.2vw;
}

.heat-button {
 margin: 3px;
}