@use "../../styles/theme" as theme;

.login-credentials {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .form-items {
    width: 576px;
    background-color: theme.$superlightgray;
  }

  .form-button {
    height: 54px;
    width: 576px;
    background-color: theme.$slightlighterthanblack !important;
    border-color: theme.$slightlighterthanblack;
  }

  .form-button:hover {
    background-color: gray !important;
    border-color: gray;
  }

  .register {
    display: flex;
    flex-direction: row;
    column-gap: 304px;

    .register-items {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }

  .heading {
    font-weight: bolder;
  }
}

.guest-button {
  height: 54px;
  width: 576px;
  margin-top: 10px;
  margin-left: 4px;
  margin-right: 4px;
}

.login-input {
  margin-left: 4px;
  margin-right: 4px;
}