.map-card {
  margin-top: 8px !important;
  margin-bottom: 10px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;

  &.selected {
    background-color: #ffffff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
  }

  .card-header {
    min-height: 6vh;
    z-index: 2;

    .map-title {
      float: left;
      font-size: 18px;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      transform: translate(0%, 20%);
      max-width: 180px;
      white-space: nowrap;
    }
  }

  .card-body {
    z-index: 1;
  }

  .comment-text {
    float: left;
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.map-card:hover {
  background-color: #ffffff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.like-button {
  transform: translate(0%, -30%);
  background-color: #ffffff;
}

.dislike-button {
  transform: translate(0%, -30%);
  background-color: #ffffff;
}

.options-button {
  transform: translate(20%, -6%);
  float: right;
  font-size: 10px;
  background-color: transparent;
  z-index: 2;

  .dropdown-toggle::after {
    display: none;
  }

  .dropdown-menu {
    min-width: 20px;
  }

  .options-button-options {
    font-size: 12px;
  }
}

.flex-row-reverse {
  transform: translate(0%, 30%);
}