@use "../../styles/theme" as theme;

.confirm-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.confirm-item {
  height: 54px;
  width: 576px;
  background-color: theme.$superlightgray;
  margin: 0px;
}

.confirm-button {
  height: 54px;
  width: 576px;
  background-color: theme.$slightlighterthanblack !important;
  border-color: theme.$slightlighterthanblack;
  margin-top: -25px;

  &:hover {
    background-color: gray !important;
    border-color: gray;
  }
}